body {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Pixelify Sans", sans-serif;
}

a {
  color: #b87374;
}

.weather-app {
  max-width: 700px;
  margin: 60px auto;
  border: 1px solid #830037;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  background-color: #fff;
  opacity: 0.7;
}

.name-app {
  display: flex;
  max-width: 700px;
  height: 70px;
  justify-content: center;
  align-items: center;
  border-radius: 19px 19px 0px 0px;
  border-bottom: 3px solid #830037;
  margin-top: 0px;
  background: #f2a8a8;
  color: #fff;
  /* font-family: "Pixelify Sans"; */
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header {
  border-bottom: 3px solid #f9f7fe;
  padding-bottom: 30px;
}

form {
  padding: 0px 30px;
}

.search-input {
  background-color: #ffe4e3;
  border: none;
  color: #4a1118;
  font-size: 16px;
  padding: 20px;
  width: 80%;
  border-radius: 6px;
  font-family: "Pixelify Sans";
}

.search-button {
  margin-left: 20px;
  font-size: 16px;
  background-color: #b87374;
  color: white;
  border: none;
  padding: 20px 23px 20px 23px;
  line-height: 1;
  border-radius: 5px;
  font-family: "Pixelify Sans";
}

main {
  padding: 30px;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 45px;
  font-weight: 900;
  margin: 0;
  color: #830037;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #9e0023;
}

.current-temperature-icon {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 40px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
  color: #830037;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
  color: #830037;
}

footer {
  border-top: 3px solid #f9f7fe;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;

  color: rgba(39, 33, 66, 0.4);
}
